test_api_integration/
celerybeat-schedule
flower
ad_info_1.json
ad_info_2.json
ad_info_3.json
ad_info_4.json
proxies_list
proxies_list.pickle
celerybeat.pid
celerybeat-schedule.*
celerybeat-schedule
local_settings.py
*.pyc
*.pyo
*~
.idea/
__pycache__
venv/ 
*log
static_files/

